---
import RootLayout from "../layout/root-layout.astro"
import Link from "../components/link.astro"

const SONGS = [
  {
    title: "Amor al Arte",
    artist: "Jorge Drexler",
    thumbnail:
    "https://lh3.googleusercontent.com/FUngEFD4KPzkUqR0LnR_yKhIZ8hJqaDR3d42aeLcenSAy2qFdQbUJUSMBAXMecyKlgRAzkXUKtOE9S5E=w544-h544-l90-rj",
    url: "https://music.youtube.com/watch?v=2rlT3JbpCeQ",
  },
  {
    title: "Tiranosaurius Rex",
    artist: "Kase.O",
    thumbnail:
    "https://lh3.googleusercontent.com/kbn_Ggkr3kM0qm24gCWmOrhsvaPOene1PECHQuGCNxK5sKcOQ-TUNO1AknmoddRHZUhNKdx2G-oJs9lk=w544-h544-l90-rj",
    url: "https://music.youtube.com/watch?v=S1mdkKi_wzk",
  },
  {
    title: "Morfeo",
    artist: "Wos",
    thumbnail:
         "https://lh3.googleusercontent.com/QF86sCMmaCFPHki2JW4RfNddd_IYp-bpsP8ll52a-RmAlWls9ggQrfrT1_fERHSaM3yav0qP9ox8s0-6gQ=w544-h544-l90-rj",
    url: "https://music.youtube.com/watch?v=4gOMr9xK0bI",
  },
  {
    title: "Vitalicio",
    artist: "Milo j",
    thumbnail: "https://lh3.googleusercontent.com/yMSUiCAUsfY1CojVyJNO37U4Y4KI0Iboi6hWpt61q1UCb0nhxDLiRTlFRCND_bYz8f6HTl3ROSMYc60=w544-h544-l90-rj",
    url: "https://music.youtube.com/watch?v=JE6hsBsH5Sg",
  },
  {
    title: "Santo Grial",
    artist: "Dano",
    thumbnail:
    "https://lh3.googleusercontent.com/7Y9Im1Lniov6oMJwwFIwD-u2PU1sXIjJE3Wgr_uIS_wLnTv3fmvXyr1EOkA6MW3VI8oEMlgSMETfMIh_=w544-h544-l90-rj",
    url: "https://music.youtube.com/watch?v=ZclzN7R_mmE",
  },
    {
    title: "Mañana Será Otro Día",
    artist: "Canserbero",
    thumbnail: "https://lh3.googleusercontent.com/-Y9zzd0aHTC3JLPDpU0D1E08mhXt3-5sq0OLLx_nrmAnqcNJR0anEnaZ6UdvTf_9_8gs5RWcjlbvEPg2=w544-h544-l90-rj",
    url: "https://music.youtube.com/watch?v=uHEF0dI7nLY",
  },
]
---

<RootLayout
  title="music"
  description="some tunes i've been vibing with lately."
>
  <section class="py-6">
    <h2 class="pb-2 text-lg font-bold text-stone-200">music</h2>
    <p>
      Some tunes i've been vibing with lately.
    </p>

    <ul class="flex flex-col gap-4 pt-8">
      {SONGS.map((song) => (
        <li class="flex gap-8">
          <img 
            src={song.thumbnail} 
            alt={song.title} 
            class="object-cover w-20 h-20 bg-stone-700 aspect-square" 
          />
          <div class="flex flex-col gap-2 mt-2">
            <Link 
              href={song.url} 
              target="_blank" 
              rel="noopener noreferrer"
              bold
            >
              {song.title}
            </Link>
            <p class="text-xs text-stone-400">{song.artist}</p>
          </div>
        </li>
      ))}
    </ul>
  </section>
</RootLayout>
