---
import RootLayout from "../layout/root-layout.astro";
import Link from "../components/link.astro";

const SONGS = [
  {
    title: "VOYCONTODO",
    artist: "Ralphie Choo",
    thumbnail:
      "https://lh3.googleusercontent.com/72cZLAzz6ZfDJgr-mNv3NhhMT9PXplbvo9Q0M09NsZ6Jnc_rG77Z_rlphYgGc_6KsAkQVRRG-7xnQ1U=w544-h544-l90-rj",
    url: "https://music.youtube.com/watch?v=f-RZY0tEHQc",
  },
  {
    title: "Toy joya",
    artist: "Cruz Cafuné",
    thumbnail:
      "https://lh3.googleusercontent.com/c0I14iylmc47auHzRCXLi6mijES_b7QYpKOFY7U2g04HUJcXhDO6d8-BrbRLJq_6OIphCBAvj_9ku3o8=w544-h544-l90-rj",
    url: "https://music.youtube.com/watch?v=SHDVl9jzwmY",
  },
  {
    title: "Heavenly",
    artist: "Judeline",
    thumbnail:
      "https://lh3.googleusercontent.com/_pwkfG7-LZE3Eg-fky6lj0ep_Daj2zT5lUn7B4LKSFhKYbY-lE3X7O6om6PqLOdeOn88Zf8pMOTslCXdjg=w544-h544-l90-rj",
    url: "https://music.youtube.com/watch?v=0QQhfrRZ5ig",
  },
  {
    title: "YOKO",
    artist: "Alvaro Díaz",
    thumbnail:
      "https://lh3.googleusercontent.com/8pvY9zthtwIahoNq1vExrecizfQ1YoSg_LIJSHxicVsCHDILBqOH2aWBAh-6DUNrineRiTaV8wfwaV-N=w544-h544-l90-rj",
    url: "https://music.youtube.com/watch?v=ovrTphjeZSI",
  },
  {
    title: "Algo nos olíamos",
    artist: "mvrk",
    thumbnail:
      "https://lh3.googleusercontent.com/68nwZmFjz3iRvvIMOQm_xCUsCu7xR7L7R4L1-wjlmB2bb89gyqrRL6cqqCSQdrYM9S-eMEBMn6NFlxtC=w544-h544-l90-rj",
    url: "https://music.youtube.com/watch?v=DmpQAAZ-AWw",
  },
  {
    title: "Una carta",
    artist: "Lucho RK",
    thumbnail:
      "https://lh3.googleusercontent.com/v4XKgX5unLb8ekNPxHphdBqQ1xn-vU432E44iBB5Ye4e1Zu2hZf-5stUtthPbGg1BOM4M4i1TLC6iswm=w544-h544-l90-rj",
    url: "https://music.youtube.com/watch?v=J4KYIxbtErE",
  },
];
---

<RootLayout
  title="music"
  description="some tunes i've been vibing with lately."
>
  <section class="py-6">
    <h2 class="pb-2 text-lg font-bold text-stone-200">music</h2>
    <p>Some tunes i've been vibing with lately.</p>

    <ul class="flex flex-col gap-4 pt-8">
      {
        SONGS.map((song) => (
          <li class="flex gap-8">
            <img
              src={song.thumbnail}
              alt={song.title}
              class="object-cover w-20 h-20 bg-stone-700 aspect-square"
            />
            <div class="flex flex-col gap-2 mt-2">
              <Link
                href={song.url}
                target="_blank"
                rel="noopener noreferrer"
                bold
              >
                {song.title}
              </Link>
              <p class="text-xs text-stone-400">{song.artist}</p>
            </div>
          </li>
        ))
      }
    </ul>
  </section>
</RootLayout>
