---
import "@fontsource/geist-mono";

import { ViewTransitions } from "astro:transitions";
import Header from "./header.astro";
import Footer from "./footer.astro";

interface Props {
  title: string;
  description: string;
  image?: string;
}

const { title, description, image = "/og.png" } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>✨</text></svg>"
    />
    <link rel="canonical" href={Astro.url} />
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="Mario Pérez Hurtado" />
    <meta property="site_name" content="marioph.com" />

    <title>Marioph • {title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />

    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:image" content={image} />

    <ViewTransitions />
  </head>
  <body
    class="flex flex-col max-w-screen-sm min-h-screen p-5 mx-auto font-mono bg-stone-900 text-stone-300 sm:py-10"
  >
    <Header />
    <slot />
    <Footer />
  </body><style is:global>
    html {
      scroll-behavior: smooth;
    }
    body {
      overflow-y: scroll;
    }
    h2::before {
      content: "#";
      margin-right: 0.6em;
    }
  </style>
</html>
